/* .pag{
    display: flex;
    justify-content: space-around;
} */

.main-navbar ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.main-navbar a {
    text-decoration: none;
    color: #fff;
}

.main-navbar {
    background: #047aed;
    color: #fff;
}

.container{
    max-width: 600px;
    overflow: auto;
    margin: 0 auto;
    padding: 0  auto;
}

.heading .message{
    font-weight: 300px;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    font: 2px solid #333;
}


